button {
  padding: 12px 24px;
  border-radius: 24px;
  background-color: transparent;
  border: 2px solid $white;
  cursor: pointer;
  font-size: 20px;
  color: $white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.25s;

  &:hover {
    box-shadow: 0px 15px 20px rgba(148, 198, 207, 0.4);
    transform: translateY(-4px);
  }
}